body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* Используйте min-height вместо height */
    overflow: auto;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h1,
h2,
h3 {
    color: #8800ff;
}

a {
    color: #8800ff;
    text-decoration: none;
}

a:hover {
    color: #bb00ff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    /* <= Новое свойство для ширины */
    /* Остальные свойства... */
}

.section {
    margin-bottom: 40px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.section-content {
    font-size: 16px;
    line-height: 1.5;
}

.box {

    border: 1px solid #512da8;
    border-radius: 15px;
    padding: 30px;
    background-color: #ffffff;
    width: 100%;
    max-width: 800px;
    margin: 20px;
    word-wrap: break-word;
    color: black;
}

select,
button,
div {
    margin: 10px;
}

select,
button {
    background-color: #7e57c2;
    /* Medium-Fair purple select and button background */
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

select:hover,
button:hover {
    background-color: #512da8;
    /* Darker purple select and button on hover */
    color: white;
}

#clearButton {
    margin-left: 10px;
}

/*задний фон*/

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .box {
        width: 90%;
        /* Больше места на экране меньшего размера */
        padding: 15px;
        margin-top: 10px;
        margin: 10px;
    }

    .section-title {
        font-size: 20px;
    }

    .section-content {
        font-size: 14px;
    }

    select,
    button {
        font-size: 14px;
        padding: 8px;
    }

    /* Меньшее пространство вокруг кнопок для экономии места */
    .top-right-button,
    .top-left-button {
        padding: 8px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 5px;
    }

    h1 {
        font-size: 24px;
        /* Уменьшение размера заголовка для помещения содержимого на экране меньшего размера */
    }

    .center {
        padding: 0;
    }

    /* Уменьшить отступы и размер шрифта еще больше для мобильных устройств */
    .box {
        border-radius: 10px;
        padding: 10px;
        margin: 5px;
    }

    select,
    button {
        font-size: 12px;
        /* Меньший текст для селекта и кнопок */
        padding: 15px;
    }
}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

pre {
    font-family: 'Courier New', Courier, monospace;
    /* font-size: 18px; */
    white-space: pre-wrap;
    padding: 10px;
    background-color: #f5f5f5;
}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */


.navbar {
    background-color: #343a40;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    padding: 8px 0;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    align-items: center;
    width: 100%;
    /* Изменено с 60% на 100% */
    justify-content: space-between;
    /* Распределяем элементы равномерно */
}

.nav-item {
    flex-grow: 1;
    /* Это заставит каждый nav-item расти и занимать равное пространство */
    text-align: center;
    /* Центрирование ссылки внутри элемента nav-item */
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 8px 20px;
    display: block;
    /* Для центрирования текста внутри nav-link */
}

.nav-link:hover {
    text-decoration: underline;
}

.navbar-brand {
    color: white;
    text-decoration: none;
    /* Увеличиваем размер LOGO и делаем его жирным */
    font-size: 1.5em;
    font-weight: bold;
    /* Можно добавить отдельный фон, если требуется */
    background-color: #555;
    /* Пример цвета фона */
    padding: 5px 10px;
    display: flex;
    align-items: center;
    /* Добавим border-radius, чтобы LOGO выделялось еще больше */
    border-radius: 5px;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Уменьшаем padding справа и слева, чтобы соответствовать новому размеру навигации */
    padding: 0 10px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 100%;
    max-width: 400px;
    padding: 0% 0 0;
    /* Adjusted for better view on mobile */
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    margin: 0 auto 0px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #8800ff;
    width: 94%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #7600e0;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #8800ff;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

body {
    /* background: #8800ff;
            background: linear-gradient(90deg, rgba(136, 0, 255, 1) 0%, rgba(136, 0, 255, 1) 50%);    */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

@media (max-width: 768px) {

    .form input,
    .form button {
        font-size: 16px;
        padding: 18px;
    }

    .form .message {
        font-size: 14px;
    }

    .body {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .form {
        padding: 25px;
    }

    .form input,
    .form button {
        font-size: 18px;
    }
}